*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --accent-color: #ee6352;
  --text-color: #393e41;
  --bg-color: #f1f7ed;
  --light-bg-color: #e8eddf;
  --links-color: #989fce;
}

html {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bg-color);
  font-size: 100%;
}

.sidebar {
  font-size: 1rem;
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 2rem;
  background-color: var(--light-bg-color);
}

.sidebar a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

#active {
  font-weight: 700;
}

.sidebar ol {
  padding-left: 1rem;
}

.sidebar a:hover {
  color: var(--links-color);
}

.container {
  transition: 0.5s;
  margin-left: 300px;
  margin-bottom: 5rem;
}

header {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 2rem;
}

header a {
  color: inherit;
}

header > h3 {
  color: var(--accent-color);
  font-size: 2.4rem;
  white-space: nowrap;
  font-weight: 250;
}

li {
  line-height: 1.5rem;
}

.content li {
  line-height: 1.5em;
}

.content ol {
  margin: 1rem 0;
}

.links-container {
  display: flex;
  gap: 1rem;
}

.content {
  width: 70%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: auto;
}

.pointer-container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 2rem auto;
}

.fa-forward,
.fa-backward {
  color: var(--accent-color);
  padding: 10px 20px;
  border-radius: 10px;
}

.fa-forward:hover,
.fa-backward:hover {
  background-color: var(--light-bg-color);
}

h1 {
  color: var(--accent-color);
  font-size: 2.5rem;
}

.text {
  font-size: 1.5rem;
  line-height: 1.45em;
}
.fa-xmark {
  visibility: hidden;
}

@media (max-width: 800px) {
  html {
    font-size: 70%;
  }
  .container {
    margin-left: 0px;
  }
  .fa-xmark {
    visibility: visible;
  }
}
